extends layout

block content
  h1= title
  h1 This is a test :)
  |   &#x9;
  form(name='findstudent', action='/user', method='get')
    span Veuillez entrer l&apos;id d&apos;un user
    |     &#x9;
    input#input_id(type='text', name='id', placeholder='Entrez id ici')
    |     &#x9;
    br
    |       &#x9;
    input(type='submit', value='Chercher')
p Welcome to #{title}
